ion-footer {
    --ion-background-color:rgb(39, 39, 39);
}

ion-toolbar {
    --ion-background-color:rgb(39, 39, 39);
    padding-left:10px;
}

span {
    color: rgb(224, 224, 224);
    font-size:13px;
}