<ion-header>
  <ion-toolbar >
    <app-toolbarmenu></app-toolbarmenu>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <div class="main-div">
    <div class="fifty-flex-div article">
      <div class="div-flex">
        <h1>
          {{ article.title }}
        </h1>
        <span>
          {{ article.subtitle }} <br><br>
        </span>
      </div>
      <div class="div-img">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngIf="article.image1">
            <ion-img src="{{ article.image1 }}"></ion-img>
          </ion-slide>
          <ion-slide *ngIf="article.image2">
            <ion-img src="{{ article.image2 }}"></ion-img>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="div-flex-article">
        {{ article.lecture }}
      </div>
    </div>

    <div class="fifty-flex-div related">
      <div class="div-flex-releted-articles">
        <h1>Related Articles</h1>
      </div>
      <div class="list-related-articles" *ngIf="relatedArticle">
        <ion-list>
          <ion-item *ngFor="let related of relatedArticle" class="item-list-related">
            <span class="related-listed title">
              {{ related.title }}
            </span>
            <span class="related-listed subtitle">
              {{ related.subtitle }}
            </span>
            <ion-icon name="chevron-forward-outline" class="related-listed icon"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </div>
    
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
