@font-face {
  font-family: "coursive";
  src: url("../../assets/fonts/PinyonScript-Regular.ttf");
}

ion-toolbar {
  --ion-background-color: rgb(36, 35, 35);
}

ion-content {
  --ion-background-color: rgb(36, 35, 35);
}

.main-div {
  width: 100%;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 10px;
}

.div-flex > h1 {
  font-family: "coursive";
  font-size: 34px;
  color: rgb(44, 204, 177);
}

.div-flex > span {
  font-family: "Arial";
  font-size: 16px;
  color: rgb(44, 204, 177);
}

.div-img {
    width: 100%;
    object-fit: cover;
    height:auto;
    overflow: hidden;
}

.div-img:hover ion-img {
    transition: ease-in-out;
    transition-duration: 3s;
    transform: scale(1.7);
}

.div-flex-article {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 15px;
    color: rgb(184, 184, 184);
    font-size: 13px;
}

.fifty-flex-div {
    width: 49.5%;
    padding-bottom: 20px;
}

.div-flex-releted-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.div-flex-releted-articles > h1 { 
    font-family: "Arial";
    font-size: 22px;
    color: rgb(44, 204, 177);
    letter-spacing: 1px;
}

.fifty-flex-div.article {
    border-right:1px solid rgb(44, 204, 177);
    padding-right: 15px;
}

.related-listed {
    color: rgb(44, 204, 177);
    transition: all 2s;
}

.related-listed.title {
    font-size: 17px;
    margin-right: 7px;
    font-family: Arial;
}

.related-listed {
    font-size: 13px;
    margin-right: 7px;
    font-family: Arial;
}

.related-listed {
    font-size: 13px;
}

.item-list-related:hover .related-listed {
    color: rgb(189, 66, 158);
    cursor: pointer;
}

ion-slides {
    max-height: 400px;
    height: 400px;
    overflow: hidden;
}

ion-slide {
    height: fit-content;
}

@media screen and(max-width:768px) {
    .fifty-flex-div {width: 100%;}
    .fifty-flex-div.article {border: none;}
}

@media screen and(min-width:433px) and (max-width:571px) {
    ion-slides {
        max-height: 300px;
        overflow: hidden;
    }
}

@media screen and (max-width:433px) {
    ion-slides {
        max-height: 200px;
        overflow: hidden;
    }

    .related-listed.title {
        font-size:14px;
    }

    .related-listed.subtitle {
        font-size: 13px;
    }
}