@font-face {
  font-family: "coursive";
  src: url("../../assets/fonts/PinyonScript-Regular.ttf");
}

ion-toolbar {
  --ion-background-color: rgb(36, 35, 35);
}

ion-content {
  --ion-background-color: rgb(36, 35, 35);
}

ion-item > span {
  color: rgb(44, 204, 177);
  font-size: 13px;
  transition: all 2s;
}

ion-item > ion-icon {
  color: rgb(44, 204, 177);
  font-size: 13px;
  transition: all 2s;
}

ion-item:hover > span {
  color: rgb(189, 66, 158);
}

ion-item:hover > ion-icon {
  color: rgb(189, 66, 158);
}

.div-flex {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(77, 77, 77);
  padding-left:10px;
  padding-right:10px;
}

.div-flex.the-latest-album {
    border-top: 1px solid rgb(77, 77, 77);
}

.div-flex > h1 {
  font-family: "coursive";
  color: rgb(44, 204, 177);
  letter-spacing: 1px;
  font-size: 37px;
}

ion-slides {
    max-height: 400px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

ion-slide {
    height: fit-content;
}

.photo-album {
    width: 100%;
    border-bottom: 1px solid rgb(77, 77, 77);
    border-top: 1px solid rgb(77, 77, 77);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
}

@media screen and(max-width:715px) {
    .div-flex > h1 {font-size: 29px;}
}

@media screen and(max-width:375px) {
    .div-flex > h1 {font-size: 24px;}
}

@media screen and(max-width:416px) {
    ion-item > span {
        font-size: 12px;
      }
      
      ion-item > ion-icon {
        font-size: 12px;
      }
}