<ion-header [translucent]="true">
  <ion-toolbar >
    <app-toolbarmenu></app-toolbarmenu>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="div-flex">
    <h1>
      News
    </h1>
  </div>
  <ion-item  *ngFor="let article of articoles" >
    <ion-thumbnail slot="start" *ngIf="article.image1">
      <img src="{{ article.image1 }}">
    </ion-thumbnail>
    <span>
      {{ article.title }}
    </span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>

  <div class="div-flex the-latest-album">
    <h1>
      The latest album Photograph
    </h1>
  </div>

  <div class="photo-album">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of articoles">
        <ion-img src="{{ item.image1 }}"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>