@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: format(Verdana, Geneva, Tahoma, sans-serif);
    font-weight: 600;
    font-size: 15px;
}
  
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    transition: all 2s;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    column-gap: 15px;
    padding-right: 20px;
}

.menu-item > h3 { 
    color: rgb(44, 204, 177);
}

.menu-item:hover > h3 {
    color: rgb(189, 66, 158) !important;
    text-decoration: underline;
    cursor: pointer;
}

