<div class="toolbar">
  <div class="menu-item" (click)="openHome()">
    <h3 > Home</h3>
  </div>
  <div class="menu-item" >
    <h3 > Contact</h3>
  </div>
  <div class="menu-item" >
    <h3 > About us</h3>
  </div>
  <div class="menu-item" (click)="openNews()">
    <h3> News </h3>
  </div>
</div>
