@font-face {
  font-family: "coursive";
  src: url("../../assets/fonts/PinyonScript-Regular.ttf");
}

ion-toolbar {
  --ion-background-color:rgb(36, 35, 35);
}

ion-content {
  --ion-background-color:rgb(36, 35, 35);

}

.title-div {
  width: 100%;
  height: 100px;
  max-height: 100px;
  object-fit: cover;
  image-rendering: optimizeQuality;
  overflow: hidden;
  border-top:1px solid rgb(44, 204, 177);
  border-bottom:1px solid rgb(44, 204, 177);
}

.toolbar {
  display: flex !important;
  justify-content: flex-end !important;
  flex-wrap: nowrap;
  column-gap: 15px;
  padding-right: 10px;
}

.div-flex {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-flex > h1 {
  font-family: "coursive";
  color: rgb(44, 204, 177);
  letter-spacing: 1px;
  font-size: 43px;
}

.last-publish {
  color: rgb(44, 204, 177);
  letter-spacing: 1px;
  font-size: 16px;
  font-family: Arial;
  align-items: flex-start !important;
  justify-content: flex-start;
  padding-left: 10px;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.div-flex-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

ion-card {
  width: calc(100% / 3.2);
  --ion-background-color:rgb(255, 255, 255);
}

.last-article-div {
  width: 100%;
  height: auto;
  position: relative;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 1px solid rgb(77, 77, 77);

}

.div-flex-last-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.last-article-flex {
  width: 49.5%;
  height: auto;
  position: relative;
}
.last-article-div-span-div-last-article {
  height: auto;
  position: relative;
}

.last-article-flex.last-article-div-image {
  height: auto;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.last-article-flex.last-article-div-image:hover ion-img {
  transition: ease-in-out;
  transition-duration: 3s;
  transform: scale(1.7);
}

.span-div-last-article {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 10px;
}

.title-article {
  font-family: "coursive";
  color: rgb(44, 204, 177);
  font-size: 26px;
}

.subtitle-article {
  color: rgb(44, 204, 177);
  font-size: 15px;
}

.lecture-article {
  color: rgb(184, 184, 184);
  font-size: 13px;
}

.read-all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  column-gap: 5px;
  padding-top: 7px;
}

.read-all > span {
  color: rgb(44, 204, 177);
  transition: all 2s;
  font-size:13px;
}

.read-all:hover span {
  text-decoration: underline;
  color: rgb(189, 66, 158);
}

.read-all > ion-icon {
  color: rgb(44, 204, 177);
  transition: all 2s;
  font-size:13px;
}

.read-all:hover ion-icon {
  color: rgb(189, 66, 158);
}

@media screen and(max-width:845px) {
  .last-article-flex {width: 100%;}
}