<ion-header [translucent]="true">
  <ion-toolbar >
    <app-toolbarmenu></app-toolbarmenu>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="title-div">
    <ion-img src="assets/img/intro-div.jpg"></ion-img>
  </div>

  <div class="div-flex">
    <h1>
      Natura Viva
    </h1>
  </div>

  <div class="div-flex last-publish">
    <span>
      Last Article Published
    </span>
  </div>


  <div class="last-article-div" *ngIf="articoles[articoles.length-1]">
    <div class="div-flex-last-article">
      <div class="last-article-flex last-article-div-image">
        <ion-img src="{{ articoles[articoles.length-1].image1 }}"></ion-img>
      </div>
      <div class="last-article-flex last-article-div-span-div-last-article">
        <div>
          <span class="title-article"><br>{{ articoles[articoles.length-1].title }} <br></span>
          <span class="subtitle-article">{{ articoles[articoles.length-1].subtitle }}</span>
        </div>
        <div>
          <span class="lecture-article">{{ articoles[articoles.length-1].preview }}</span>
        </div>
        <div class="read-all" (click)="openArticle(articoles[articoles.length-1])">
          <span>
            Read
          </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      
    </div>
  </div>
  <!-- <div class="div-flex-article">
    <ion-card *ngFor="let article of articoles">
      <ion-card-header>
        <ion-card-subtitle>{{ article.subtitle }}</ion-card-subtitle>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{ article.preview }}
      </ion-card-content>
    </ion-card>
  </div> -->

</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
